@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_variables.scss";


a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
    color: $white-color;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.02em;

    color: #FFFFFF;


}

.navbar .navbar-brand {
    color: $white-color;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;

    color: #FFFFFF;

}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}

main {
    padding-top: 30px;
}

.header {
    font-family: Open Sans;
    font-style: normal;
    align-items: center;
    display: flex;
    background-image: url(../images/1.jpg);
    height: 532px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.header:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-color: black;
    opacity: .5;
}

.header>.container {
    position: relative;
    z-index: 1;
}

h1 {

    font-weight: bold;
    font-size: 83px;
    line-height: 151%;
    /* or 125px */

    text-align: center;
    letter-spacing: -0.025em;

}

h4 {

    font-weight: normal;
    font-size: 24px;
    line-height: 137.68%;
    /* or 33px */

    text-align: center;
    letter-spacing: -0.03em;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.social__item {
    margin: 0 15px;
}

.social__link {
    width: 53px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: $white-color;
    border-radius: 50%;
    background-color: $dark-color;
    text-decoration: none;
}

.copyright {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

}

.footer {
    border-top: 1px solid grey;
    padding: 30px 0;
}

p {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
    margin-bottom: 30px;
}

h2 {
    display: flex;
    justify-content: start;
    margin-bottom: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 48px;
    letter-spacing: 0.015em;

    color: #000000;

}

.spase {
    max-width: 100%;
    margin-bottom: 12px;
}

article {
    padding: 10px 0;
}

article a {
    text-decoration: none;
}

article>p {
    margin: 15px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    /* identical to box height */

    letter-spacing: -0.01em;

    color: #000000;
}

article footer p {
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
}

.button {
    border: none;
    background: #0085A1;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.1em;

    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.015em;

    color: #FFFFFF;
}

.input {
    padding: 15px 0;
    background: none;
    border: none;
    outline: none;
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    width: 100%;
    color: #000000;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
}