mixin footer()
    footer.footer
        .container
            ul.social
                li.social__item
                    a.social__link(href="#")
                        <i class="fab fa-twitter"></i>
                li.social__item
                    a.social__link(href="#")
                        <i class="fab fa-facebook-f"></i>
                li.social__item
                    a.social__link(href="#")
                        <i class="fab fa-github"></i>
            p.copyright Copyright &copy; Your Website 2019